.group-wrapper {
    display: flex;
    background-color: rgba(51, 51, 51, 0.308);
    margin: 2%;
    margin-right: 0;
    padding: 15px;
    flex-direction: row;
  }
  
  .song-wrapper {
    margin: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  
  .song-wrapper img{
    height: 300x;
    width: 300px;
  }
  
  .song-wrapper img:hover{
    height: 350x;
    width: 350px;
  }
  
  .song-page-wrapper{
    background-color: #f2f2f2;

  }

  .songs-wrapper{
    display: flex;
    flex-direction: row;
    width: 70%;
    overflow: auto;
    white-space: nowrap;
  }

  .songs-wrapper::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 10px;
  background-color: #444444;
}

.songs-wrapper::-webkit-scrollbar
{
  width: 12px;
}

.songs-wrapper::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(0deg,
                        transparent,
                        rgba(0, 0, 0, 0.4) 50%,
                        transparent,
                        transparent)
}
