.group-wrapper {
  display: flex;
  background-color: rgba(51, 51, 51, 0.308);
  margin: 2%;
  margin-right: 0;
  padding: 15px;
  flex-direction: column;
  align-self: flex-start;
  
  &__small {
    display: flex;
    background-color: rgba(51, 51, 51, 0.308);
    margin: 0%;
    margin-right: 0;
    padding: 5px;
    flex-direction: column;
    align-self: flex-start;
  }
}

.artist-title, .artist-subtitle {
  overflow-wrap: break-word;
  &__small {
    overflow-wrap: break-word;
    font-size: 1.5em;
  }
}

.recommendation-group {
  &_buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &_tiles-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    overflow: auto;
  
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
      border-radius: 10px;
      background-color: #444444;
    }
  
    &::-webkit-scrollbar {
      width: 12px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #D62929;
      background-image: -webkit-linear-gradient(0deg,
        transparent,
        rgba(0, 0, 0, 0.4) 50%,
        transparent,
        transparent
      )
    }
  
    &__small {
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow: auto;
      font-size: 0.75em;
  
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
        border-radius: 5px;
        background-color: #444444;
      }
    
      &::-webkit-scrollbar {
        width: 5px;
      }
    
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #D62929;
        background-image: -webkit-linear-gradient(0deg,
          transparent,
          rgba(0, 0, 0, 0.4) 50%,
          transparent,
          transparent);
      }
    }
  }
}

.recommendation-tile {
  &_visual {
    object-fit: contain;
    max-width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    overflow-wrap: break-word;

    &:hover {
      box-shadow: 15px 15px 5px rgba(49, 47, 47, 0.712);
    }

    &__small {
      object-fit: contain;
      max-width: 150px;
      height: 150px;

      &:hover {
        box-shadow: inset 10px 10px 5px rgba(49, 47, 47, 0.712);
      }
    }
  }

  &_tile-content-wrapper {
    margin: 20px 2%;
    display: flex;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
  }
}

.genre-tile {
  width: 300px;
  word-wrap: break-word;

  &__small {
    width: 150px;
    font-size: 2rem;
  }
}

.loading-img {
  height: 50%;
}

.loading-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pan {
  height: 30px;
  align-self: center;
  margin: auto;

  &__small {
    height: 30px;
    align-self: center;
    margin: auto
  }
}
