.search-page_results-header {
  margin-left: 2em;
}

.search-results-wrapper {
    display: flex;
    flex-direction: row;
    margin: 1% 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .results_items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .results_title {
    display:flex;
    justify-content: space-around;
  }
  
  .result {
    width: 35%;
  }

  .result_image-wrapper {
    position: relative;
    width: 100%;
    /* this is actually the height! padding percentages are calculated based on WIDTH
    so this trick allows you to make a percentage-based square */
    padding-bottom: 100%; 
    height: 0;
    overflow: hidden;
  }

  .result_image {
    object-fit: fill;
    height: auto;
    min-width: 100%;
    max-width: 100%;
  }

  .result_image:hover {
    box-shadow: inset 10px 10px 5px rgba(49, 47, 47, 0.712);
    -moz-box-shadow: inset 10px 10px 5px rgba(49, 47, 47, 0.712);
    -webkit-box-shadow:  10px 10px 5px rgba(49, 47, 47, 0.712);
  }

  .result_show-more {
    width: 80%;
    border-radius: 1em;
    margin: auto auto 1em;
  }

  .result_title {
    margin: 0.25rem 0;
  }

  .result_subtitle {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
  
  .show-more:hover {
    font-weight: bold;
  }

  .loading-image {
    align-self: center;
  }

  /* based on screen size, show 1, 2, 3, or 4 items per line */

  .results_wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 2%;
    background: rgba(51, 51, 51, 0.308);
    border-radius: 3%;
    align-self: stretch;
  }

  @media screen and (max-width: 1440px) {
    .results_wrapper {
      width: 40%;
      margin: 2%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .results_wrapper {
      width: 100%;
      margin: 2% 5%;
    }
  }
  