.profile-header_container {
    display: flex;
    align-items: center;
    padding: 2em;
}

.profile-header_icon {
    font-size: 12em !important;
}

.profile-header_interaction-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    font-size: 2em;
    margin-left: 1em;
    justify-content: space-around;
}

.profile-header_interaction-wrapper > * {
    flex-grow: 1;
}

.profile-header_username {
    margin: 0;
}

.profile-header_username__self {
    font-size: 3em;
    margin-left: .67em;
}

.gallery-item {
    position: relative;
    width: 200px;
    height: 200px;
}

.gallery-item_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gallery-item_overlay {
    display: flex;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.gallery-item_overlay-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 0 5px;
}

.profile-header_follow-button {
    font-size: 1em !important;
    color: white !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    margin-top: 0.5em !important;
}

.follow-button_text {
    line-height: 1;
}

.follow-button_x-icon {
    margin-right: 0.5em;
}