.playing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: fit-content;
    margin: 3% auto 3% auto;
    border: 1px solid rgba(51, 51, 51, 0.63);
    border-radius: 2em;
    background-color:  rgba(51, 51, 51, 0.308);
    padding-top: 2%;
}

.control-row {
    font-size: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.return-explore-wrapper {
    margin: 0 auto;
    margin-bottom: 2em;
}

.btn-return-explore {
    background-color: rgba(255, 255, 255, 0.6) !important;
    font-size: 1.3em !important;
    border-radius: 12px !important;
    border: 1px solid rgba(51, 51, 51, 0.6) !important;
}

/* todo: scale based on screen size */

.btn-control {
    width: 3em;
    height: 3em;
}

.btn-like-dislike {
    background-color: white !important;
}

.btn-like-dislike__like {
    color: rgb(31, 160, 31) !important;
}

.btn-like-dislike__already-liked {
    background-color: rgb(170, 216, 170) !important;
}

.btn-like-dislike__dislike {
    color: rgb(151, 43, 23) !important;
}

.btn-like-dislike__already-disliked {
    background-color: rgb(214, 145, 145) !important;
}

.btn-like-dislike_icon {
    font-size: 2em !important;
}

.album-image_wrapper {
    position: relative;
    width: min(30%, 300px);
    /* this is actually the height! padding percentages are calculated based on WIDTH
    so this trick allows you to make a percentage-based square */
    padding-bottom: min(30%, 300px); 
    height: 0;
    background-color: rgba(51, 51, 51, 0.308)
}

.album-image_image {
    object-fit: fill;
    height: auto;
    min-width: 100%;
    max-width: 100%;
}

.play-song-overlay {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.resume_icon {
    font-size: 3em !important;
}

.resume_icon:hover {
    background-color: none !important;
}

.btn-next-previous {
    color: white !important;
    font-size: 0.6em !important;
}

.btn-next-previous_icon {
    font-size: 2.8em !important;
}

.toolbar-wrapper {
    margin: 3% auto;
}