#task-container {
  align-items: flex-start;
  width: 80%;
  margin-top: 10%;
  border: 1px solid black;
  padding: 50px;
  justify-content: space-around;
}

#form-wrapper{
  display: flex;
}

.task-wrapper{
  cursor: pointer;
  margin: 5px;
  padding: 20px;
  border-bottom: 1px solid gray;
  background-color: aquamarine;
  display: flex;
}

.task-wrapper:hover {
  background-color: aqua;
}